<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <title>Jumia Deals Viewer {% block title %}{% endblock %}</title>
    <style>
        .htmx-indicator {
            display: none;
        }

        .htmx-request .htmx-indicator {
            display: inline-block;
        }

        .htmx-request.htmx-indicator {
            display: inline-block;
        }
    </style>
</head>
<body>
    <section class="py-12 px-4 md:px-6">
        <div class="container mx-auto max-w-6xl">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>
</html>